@import './assets/scss/styles.scss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Surface colors */

  /* Graphic colors */
  --divider-color: var(--grey-mystic);
  /* Typography colors */

  --typography-color-brand: var(--brand-TELUS);
  --typography-color: var(--grey-900);
  --typography-color-muted: var(--grey-700);
  --typography-color-disabled: var(--grey-500);
  --typography-color-contrast: var(--grey-100);
  --link-color: var(--brand-TELUS);

  /*
    tokenizing everything may be the solution
    * what languages are we using 
  */

  /* Sizing variables */


  /* Mobile */
  //use scss where ever we can
  @media (max-width: 400px) {
    /* Typography colors */
  }
}

body {
  margin: 2rem !important;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}

/*
DOCUMENTATION STYLES
*/
.f-ttb {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.f-ltr {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

// h1:not(.grid h1),
// h2:not(.grid h2),
// h3:not(.grid h3),
// h4:not(.grid h4),
// h5:not(.grid h5),
// h6:not(.grid h6) {
//   margin-block-start: 1rem;
//   margin-block-end: 1rem;
// }